<!DOCTYPE html>
<html>
  <head>
    <title> AFX Dance </title>
    <link rel="icon" type="image/png" href="assets/images/arrow.png">
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400" rel="stylesheet">
    <script src="https://use.fontawesome.com/ece40e76f3.js"></script>
  </head>

  <body>

    <div class="banner">
      <!-- <img class="icon" src="assets/images/afx2.png">  -->
      <%= image_tag "afx2.png", :class => "icon" %>
    </div>
    
    <div class="about">
      <div class="about--text">
        <p> AFX Dance is a hip hop/urban dance group founded by Ping Quach, Geoffrey Chen, and Rosemary Hua in Fall 2011 to give dancers an opportunity to grow. </p>
        
        <p> Our name, [A]spirations, [F]amily, e[X]perience reflects our philosophy of creating a family environment for dancers to build up the confidence and support to reach new heights. With Competition (competitive advanced), Project (intermediate-advanced), and Training (beginner) levels, we hope to provide dancers, choreographers, and directors with new, fulfilling experiences that will empower them to pass on our philosophies to the greater community. </p>
      </div>
      
      <div class="social-media">
        <a href="https://www.facebook.com/AFXdance/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/afxdance/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCfqDntI9j7VESB0fNgw9Yog">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <% Semester.all.each do |semester| %>
      <% Group.all.each do |group| %>
        <% if group.semester_id == semester.id %>

          <div class="board">
            <div class="board--title">
              <%= group.title %>
            </div>
            
            <div class="board--subtitle"> 
              <%= semester.name %>
            </div>

            <div class="board--row">
              <% Position.all.each do |position| %>
                <% if group.id == position.group_id %>
                  <div class="board--member">
                    <%= image_tag Person.find(position.person_id).name + ".jpg", :class => "board--img" %>
                    <div class="overlay">
                      <div class="member-info">
                        <div class="name"><%= Person.find(position.person_id).name %></div>
                        <div class="title"><%= position.title %></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    <% end %>

    
  </body>
</html>